/*THIS IS TO STYLE BODY OF CONTACT US PAGE*/

section {
	width: 100%;
	height: 95%;
	background-image: url("../images/index/index hero img mobile.jpg");
	background-size: cover;
	background-position: center;
	padding-top: 1px;
}

.contact-headline,
.contact-content,
.contact-content a {
	text-align: center;
	width: 100%;
	font-family: 'roboto';
	color: white;
	font-weight: bold;
	text-shadow: 3px 3px 4px black;
	text-decoration: none;
}

.contact-headline {
	margin-top: 5.5em;
}

.contact-content {
	font-size: 12px;
	margin-top: 5em;
}

.contact-content a:hover {
	text-decoration: underline;
}




@media (min-width:320px) {
 /* smartphones, iPhone, portrait 480x320 phones */ 
}
@media (min-width:481px) { 
/* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */ 
	section {
	background-image: url("../images/index/index hero img.jpg");
	}

	.contact-headline {
	margin-top: 7em;
	}
}
@media (min-width:641px) { 
/* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */ 
}
@media (min-width:961px) { 
/* tablet, landscape iPad, lo-res laptops ands desktops */
}
@media (min-width:1025px) {
 /* big landscape tablets, laptops, and desktops */ 
}
@media (min-width:1281px) {
 /* hi-res laptops and desktops */
  }