/*THIS IS TO STYLE BODY OF INDEX PAGE*/

section {
	width: 100%;
	height: 95%;
	background-image: url("../images/index/index hero img mobile.jpg");
	background-size: cover;
	background-position: center;
	padding-top: 1px;
}

.index-headline {
	text-align: center;
	position: absolute;
	top: 40%;
	width: 100%;
	font-family: 'roboto';
	color: white;
	text-shadow: 3px 3px 4px black;
}



@media (min-width:320px) {
 /* smartphones, iPhone, portrait 480x320 phones */ 
}
@media (min-width:481px) { 
/* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */ 
	section {
	background-image: url("../images/index/index hero img.jpg");
	}
}
@media (min-width:641px) { 
/* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */ 
}
@media (min-width:961px) { 
/* tablet, landscape iPad, lo-res laptops ands desktops */
	/*hide mobile nav button*/
	.dropdown {
		display: none;
	}

	/*show desktop nav bar*/
	nav {
		display: initial;
	}

	.header-container {
		display: flex;
	}


}
@media (min-width:1025px) {
 /* big landscape tablets, laptops, and desktops */ 
}
@media (min-width:1281px) {
 /* hi-res laptops and desktops */
  }